.App {
  text-align: center;
  font-size: large;
    /*
    display: flex;

*/

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


h1{
    font-family: 'Berkshire Swash', cursive;
}
body {
    font-family: 'Open Sans', sans-serif;
}
